{% extends "manabe/template.html" %}
{% block title %}新建发布单{% endblock %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div class="Huialert Huialert-error {{ message.tags }}">
    <i class="Hui-iconfont">&#xe6a6;</i>{{ message }}
</div>
{% endfor %}
{% endif %}
<form action="" method="post" class="form form-horizontal" id="demoform-1">
    {% csrf_token %}
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3">
            {{ form.name.label_tag }}
        </label>
        <div class="formControls col-xs-8 col-sm-9">
            {{ form.name }}
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3">
            {{ form.description.label_tag }}
        </label>
        <div class="formControls col-xs-8 col-sm-9">
            {{ form.description }}
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3">
            {{ form.app_name.label_tag }}
        </label>
        <div class="formControls col-xs-8 col-sm-9">
            {{ form.app_name }}
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3">
            {{ form.branch_build.label_tag }}
        </label>
        <div class="formControls col-xs-8 col-sm-9">
            {{ form.branch_build }}
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3">
            {{ form.is_inc_tot.label_tag }}
        </label>
        <div class="formControls col-xs-8 col-sm-9">
            {{ form.is_inc_tot }}
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3">
            {{ form.deploy_type.label_tag }}
        </label>
        <div class="formControls col-xs-8 col-sm-9">
            {{ form.deploy_type }}
        </div>
    </div>
    <div class="row cl">
        <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
            <input type="submit" class="btn btn-primary radius" value="提交">
        </div>
    </div>
</form>
{% endblock %}