{% extends "manabe/template.html" %}
{% block title %}发布单详情{% endblock %}
{% block content %}
<table class="table table-border table-bordered radius">
    <tbody>
    <tr>
        <td>发布单名称</td>
        <td>{{ object }}</td>
    </tr>
    <tr>
        <td>应用名称</td>
        <td>{{ object.app_name }}</td>
    </tr>
    <tr>
        <td>Git分支</td>
        <td>{{ object.branch_build }}</td>
    </tr>
    <tr>
        <td>Jenkins编号</td>
        <td>
            {{ object.jenkins_number }}
        </td>
    </tr>
    <tr>
        <td>部署类型</td>
        <td>
            {{ object.deploy_type }}
        </td>
    </tr>
    <tr>
        <td>最近操作用户</td>
        <td>{{ object.op_user }}</td>
    </tr>
    </tbody>
</table>
{% endblock %}